nav {
  height: 200px;
}

.h1-fs {
  font-size: 2.5rem;
}

.welkom {
  margin-right: 0;
  transition: margin-right 3s;
}

h1:hover .w1 {
  margin-right: 20px;
}

h1:hover .w2 {
  margin-right: 20px;
}

h1:hover .w3 {
  margin-right: 20px;
}

img {
  transform: scale(1);
  transition: transform 1s;
}

img:hover {
  box-shadow: 0px 0px 20px 1px black;
  transform: scale(1.1);
}

footer {
  height: 200px;
  width: 100%;
}

footer a {
  text-decoration: none;
}
